{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-100">
        {{ form(formAddUser) }}
    </div>
    {% include 'inc/footer.html.twig' %}
{% endblock %}

{% block title %}

{% endblock %}

