{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        .mysubtitle {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
        }
    </style>

    <div class="example-wrapper">
        <h1>The seal-ing</h1>
    </div>
    <div class="mysubtitle">
        <p>Get it? It's up cuz it's the seal-ing?.. The Ceilling? No? Fuck off.</p>
        <img alt="seal" src="{{ asset('images/seal.jpg') }}" width="730" height="475">
    </div>
{% endblock %}