<form method="get">
    <label>
        <input type="text" name="query" placeholder="Mots clés">
    </label>
    <label>
        <input type="number" name="price_sup" placeholder="Prix max">
    </label>
    <label>
        <input type="number" name="price_inf" placeholder="Prix min">
    </label>
    <label for="Prix croissant">
        <input type="checkbox" name="ASC">
    </label>
    <label for="Prix décroissant">
        <input type="checkbox" name="DESC">
    </label>
    <input type="submit" value="Filtrer">
</form>