<footer class="d-flex align-content-center justify-content-center">
    <ul>
        <li><a href="{{ path('app.add') }}">Add ad</a></li>
        <li><a href="{{ path('app.register') }}">Register</a></li>
        <li><a href="{{ path('ads.display', {'id': 202, 'cat': 'voiture-luxe'}) }}">Annonce n°2</a></li>
        <li><a href="{{ path('app.home') }}">Mentions-légales</a></li>
    </ul>
</footer>